p, ul, ol, a, footer {
    font-family:"Courier New", monospace;
}

h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.basecolor{
    background-color: white;
}

.links{
    color: white;
    padding:1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
/* Objective: To implement footer using flexbox
.footer{
    width: 40%;
    margin: 70% auto;
    text-align: center;
}
*/

.basecolor {
    border: 2px solid black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    border: 2px dashed gold;
    flex: auto;
    flex
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.back {
    display: block;
    height: auto;
    padding-left: 80%;
}