p, ul, ol, a {
    font-family:"Courier New", monospace;
}

h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.basecolor{
    background-color: white;
}

.links{
    color: white;
    padding:1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.footer{
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.back {
    display: block;
    height: auto;
    padding-left: 80%;
}